@charset "UTF-8";

#dialogInfo {
  word-wrap: break-word;
}
#moreBtn {
	display: inline-block;
	width: 90px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}

.list-all {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.board-header {
	margin-top: 20px;
	align-items: center;
	justify-content: space-between;
}

.link-header {
	float: right;
}



.board-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.write-button {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

.write-button:hover {
	background-color: #0056b3;
}

table {
	background-color: #f2f2f2;
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}
.tableDiv {
	margin-top: 5px;
    
}
.pagelen {
	font-size: 20px;
}
.searchType {
	font-size: 20px;
	margin-right: 5px;
}
.searchButton {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 2px 20px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	margin-left:2px;
}


th, td {
	border: 1px solid #ddd;
	padding: 10px;
	text-align: center;
}

th:nth-child(2), td:nth-child(2) {
	width: 10%;
}
th:nth-child(3), td:nth-child(3) {
	width: 40%;
}
th:nth-child(4), td:nth-child(4) {
	width: 15%;
}
th:nth-child(5), td:nth-child(5) {
	width: 20%;
}
.pageStrong {
	padding:13px;
}

 
tr:hover {
	background-color: #f9f9f9;
}

th input[type="checkbox"], td input[type="checkbox"] {
	margin-right: 5px;
}

.checkbox-cell, .checkbox-all {
	text-align: center;
}

.highlight {
	background-color: #fff4e1;
	font-weight: bold;
}

.form-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.form-input {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin-bottom: 20px;
}

.radio-group {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.radio-label {
	margin-right: 10px;
}

.radio-input {
	margin-right: 5px;
}

.submit-button, .back-button {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
}

.post-detail {
	margin-top: 50px;
}

.post-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	border-bottom: 1px solid #604e4e;
	padding-bottom: 10px;
}

.post-meta {
	color: #777;
	margin-bottom: 10px;
}

.back-button {
	float: right;
}

.post-content {
	line-height: 1.6;
	padding-left: 10px;
	border-bottom: 1px solid #604e4e;
	padding: 10px 0px 30px 5px;
	margin-top: 20px;
}

.button-container {
	margin-top: 20px;
	align-items: center;
}

.submit-button:hover, .back-button:hover, .edit-button:hover,
	.delete-button:hover, .edit-button-info:hover, .back-button-info:hover,
	.delete-button-info:hover {
	background-color: #0056b3;
}

.edit-button-info, .back-button-info, .delete-button-info {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 8px 16px;
	font-size: 14px;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
	transition: background-color 0.3s;
}

.check-fix {
	margin-bottom: 20px;
	display: none;
}

/*********************************/
/* 댓글 */
/*********************************/
#comment {
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #ddd;
	background-color: #f9f9f9;
	border-radius: 5px;
	height: 210px;
}
#comment h3 {
	margin-left: 5px;
}
.comment-list {
	margin-top: 20px;
}

.comment {
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #fff;
	border-radius: 5px;
}

.comment-header {
	font-weight: bold;
	margin-bottom: 5px;
}

.comment-content {
	margin-bottom: 10px;
}

.comment-meta {
	color: #777;
}

.comment-form {
	margin-top: 20px;
}

.comment-form textarea {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: vertical;
}

.commentdetail {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 15px;
	border-radius: 5px;
	resize: vertical;
}

.comment-area {
	border: 1px solid #ccc;
	width: 100%;
}

.write-comment {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 1px 5px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	float: right;
	margin-top: 5px
}

.up-del-link {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.up-del-link h5 {
	margin-left: 10px;
}

.up-del-link a {
	float: right;
}

.comment-date {
	color:#8e8b8b;
	margin-right: auto;
}


.comment-form a:hover {
	background-color: #0056b3;
}

.edit-comment-link, .delete-comment, .edit-button-info, .delete-button-info {
	display:none;
}